DirectoryIndex index.html
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ https://gtd-ppn9xce0d-mohammeds-projects-e4a97104.vercel.app/api/$1 [R=302,L]
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
